@import "bootstrap-sprockets";
@import "bootstrap";

.body {
	background-color: #F7FAFA;
}

.navbar-default {
	background-color: #F3DF79;
	height: 88px;
	border-radius: 0px !important;
}

.navbar-inner {
    border-radius: 0px !important;
}

.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.navbar-header, .collapse, .navbar-collapse {
	padding-top: 15px;
}

.center {
	text-align: center;
}

.rewards-right {
	float: right;

}

.project-heading-center {
	text-align: center;
	margin: 50px;
	padding-bottom: 20px;
	
}

.show-image {
	margin: 40px;
	padding-bottom: 20px;
	text-align: center;
}

.project-show-full {
	background-color: #fff;
	border: 1px solid #D9D9DE;
}

.container {
	width: 960px;
}

.thumbnail {
	height: 500px;
}



